.data {
  color: #ffffff;
}
.latest-match-container {
  background-color: #1e293b;
  width: 90%;
  margin: 0px auto;
  border-radius: 20px;
  padding: 10px;
}
.latest-match {
  height: 150px;
  width: 150px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phase-one {
  padding: 0px 0px 0px 40px;
}
.phase-two {
  padding: 0px 40px 0px 0px;
}
.img-container {
  flex-direction: column;
  align-self: center;
}
.team-head {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 500;
  padding: 0px 0px 30px 0px;
  font-size: 26px;
}
.team-date {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 500;
  padding: 0px 0px 30px 0px;
}
.team-venue {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 500;
  padding: 0px 0px 30px 0px;
}
.team-result {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 500;
  padding: 0px 0px 30px 0px;
}
.head-info {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 400;
  padding: 8px 0px;
  font-size: 20px;
}
.para-info {
  font-family: 'Bree Serif';
  color: #ffffff;

  padding: 8px 0px;
}
@media screen and (max-width: 767px) {
  .latest-match-container {
    background-color: #1e293b;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .img-container {
    margin: 20px 0px;
  }
  .line {
    border-top: 1px solid #ffffff33;
    width: 80%;
  }
}
@media screen and (min-width: 767px) {
  .line {
    display: none;
  }
}
